.menu {
	&__overlay {
		position: fixed;
		top: 0px;
		right: 0;
	    height: 100vh;
	    width: 100%;	    	    
        background: $black;
	    z-index: 1;
        display: none;

        @include breakpoint(phablet) {
            width: 40%;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100vw;
            transform: translateX(-100%);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
        }
	}

	&__overlay--container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        align-content: center;
        animation-duration: 1.5s;       
	}


	&__list-link {		
        list-style-type: none;     
        width: 75%;
        position: relative;

        @include breakpoint(phablet) {
            text-align: left;
        }

		li {
			font-size: 24px;
		    font-weight: 500;
            letter-spacing: 7px;
            line-height: 1.2em;
		    text-transform: uppercase;
		    font-family: $font-primary;
		    color: #fff;
		    display: block;
            transition: all cubic-bezier(.35,.53,.96,.75) 0.2s;
            
            ul {
                position: absolute;
                top: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                background: #101010;
                opacity: 0;
                visibility: hidden;
                transition: all cubic-bezier(.35,.53,.96,.75) 0.2s;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }

		    &.active, &:hover {		    	
			    color: #fcfcfc;
		    }

		    a {
		    	color: inherit;
		    }

            & + li {
                margin-top: 15px;
            }
        }        
	}	
}