// Colors
$black: #202020;
$white: #fff;
$light-black: #2f2f2f;

// Typography
$font-primary: acumin-pro-wide, sans-serif;
$font-secondary: basic-sans, sans-serif;

// Media Queries
$xs: '481px';
$sm: '731px';
$md: '981px';
$lg: '1231px';
$xlg: '1481px';

// Gutter
$gutter10: 10px;