// Colors
$black: #101010;
$white: #fff;
$light-black: #2f2f2f;

// Typograhpy
$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Rambla', sans-serif;
$font-tertiary: 'Quicksand', sans-serif;
$font-thick: 'Bevan', sans-serif;

// Media Queries
$xs: '481px';
$sm: '731px';
$md: '981px';
$lg: '1231px';
$xlg: '1481px';

// Gutter
$gutter10: 10px;