@import "./css/_variables.scss";
@import "./css/_base.scss";
@import "./css/_typography.scss";
@import "./css/_font-awesome.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    &--intro {
        height: 60vh;        
        display: flex;   
        justify-content: flex-start;
        align-items: center;
    }

    &--label {
        .small-title {
            font-family: $font-primary;
            font-size: 1em;
            letter-spacing: 1px;
            display: block;
        }

        .hero-title {
            display: inline-block;            
            font-weight: 700;
            letter-spacing: 1px;            
            font-family: acumin-pro-wide, sans-serif;
            font-size: 2.2em;
            line-height: 1.4em;
        }
    }
}

.container--full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}

.section {
    position: relative;
    max-width: 1080px;

    &--title {
        font-family: 'acumin-pro-wide', sans-serif;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 3.5em;
    }
}