@import "./css/_variables.scss";
@import "./css/_base.scss";
@import "./css/_typography.scss";
@import "./css/_font-awesome.scss";
@import "./css/_mixins.scss";

@import "./css/_menu-navigation";

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
}

.hero {
    &--intro {
        height: 60vh;        
        display: flex;   
        justify-content: flex-start;
        align-items: center;
    }

    &--label {
        .hero-title {
            display: inline;            
            font-weight: 700;
            letter-spacing: 1px;            
            font-family: acumin-pro-wide, sans-serif;
            font-size: 2.2em;
            line-height: 1.4em;
            position: relative;

            .about-me--more {
                position: absolute;
                top: 60%;
                right: -65px;
                padding: 0;
            }

            @include breakpoint('mobile') {
                font-size: 1.4em;

                .about-me--more {
                    left: -20px;
                    right: auto;
                    top: 75%;
                }
            }
        }
    }
}

.container--full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}

.section {
    position: relative;
    max-width: 1080px;

    &--title {
        font-family: 'acumin-pro-wide', sans-serif;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 3.5em;
    }
}

.aspect-ratio-1-1 {
    position: relative;
    display: block;
    padding-top: 100%;
    width: 100%;
}

.aspect-ratio-1-1 img {
    position: absolute;
    height: 100%;
    top: 0;
    object-fit: cover;
}

@include breakpoint('mobile') {
    .aspect-ratio-1-1-sm  {
        position: relative;
        display: block;
        padding-top: 100%;
        width: 100%;
    }

    .aspect-ratio-1-1-sm img {
        position: absolute;
        height: 100%;
        top: 0;
        object-fit: cover;
    }
}